@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kablammo&display=swap');

.navFontsLogo{
     font-family: "Audiowide", sans-serif;
}

.logo{
    font-family: "Kablammo", system-ui;
}
